* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 720px;
  text-align: center;
  margin: 65px auto 0px auto;
  padding-bottom: 0px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(192, 192, 192)
  );
}

h1 {
  font-size: 1.5em;
}

header > div {
  margin-top: 50px;
  margin-bottom: 50px;
}

header > div > p {
  text-align: right;
  line-height: 0.1em;
  font-size: 0.9em;
}

div.cabeca {
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.486);
  margin: auto 20px;
  height: 20px;
  font-size: 0.9em;
  text-align: center;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(75, 0, 0));
  color: rgb(230, 230, 230);
}

div#objetivos {
  text-align: center;
  margin: auto 80px;
}

p {
  margin: 30px 10px;
  line-height: 2em;
}

span#duracao {
  font-size: 0.8em;
}

footer {
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(75, 0, 0));
  color: rgb(209, 209, 209);
  font-size: 0.8em;
  height: 40px;
  width: 80%;
  margin: 150px auto 10px auto;
  border-radius: 10px 0px 10px 0px;
}

footer > p {
  padding-top: 5px;
}

footer > p > a {
  text-decoration: none;
  font-size: 1.1em;
  color: rgb(233, 233, 233);
}

a:hover {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
